body{
    background: black;
    margin: 0 auto;
    margin-top: 5px;

}

header{
    text-align: center;
    color: gray;
    background: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
}

nav{
    text-align: center;
    margin: 8px;
    background: lightgray;
    border-radius: 10px;
    padding: 5px;
}

a{
    margin: 5px;
}

.london{
    position: relative;
    background: DarkKhaki;
    padding: 15px;
    border-radius: 10px;
    margin: 8px;
}

img{
    width: 200px;
    height: 200px;
    margin: 10px;
}

#budapest{
    
    background: GoldenRod;
    padding: 15px;
    border-radius: 10px;
    margin: 8px;
}

table{
    background: blue;
    color:white;
}

footer{
    text-align: center;
    color: white;
}

video{
    height: 200px;
}

ol li{
    display: inline-block;
    background: gray;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}

.video_to_right_corner{
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.london_vaakuna{
    float: left;
}

h4{
    clear: both;
}


.img_trans:hover{
    width: 300px;
    height: 300px;
}

li{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

li:hover{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

h1{
    -webkit-animation: myfirst 5s;
    animation: myfirst 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {color: red;}
    to {color: gray;}
}

/* Standard syntax */
@keyframes myfirst {
    from {color: red;}
    to {color: gray;}
}
